body{
    background-image:url("bg.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;


}
.main
{
    
    margin: auto;
    border: 2px solid white;
    height:550px;
    width:900px;
    margin-top: 120px;
    box-shadow: 10px 5px 5px white;
    color:white;
    text-align: center;
    font-family: cursive;

}
li{
    text-align: justify;
    padding-left: 310px;

}
#n1
{
    border-radius:45% 45% 45% 45% ;
    height:40px;
    width:500px ;
    background: transparent;
    box-shadow:2px 2px 2px whitesmoke ;
    text-align: center;
    color: white;

}
input[type="submit"]
{
  height: 50px;
  width:100px;
  margin-left:50px ;
  margin-bottom: 30px;
  background: transparent;
  box-shadow: 10px 5px 5px  ;
  border:4px solid white;
  color: white;



}
